*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regola di reset */

body{
    font-family: sans-serif;
}

/* inizo header e navbar */

nav{
    /* width: 100%;
    position: fixed; */

    background-color: #FF6900;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.container.flex{
    display: flex;
}


nav .container{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    color: white;
}

nav .container .links{
    text-align: left;
}

.links ul{
    list-style-type: none;
}

.links ul li{
    display: inline-block;
}

nav .container .logo{
    flex-grow: 2;
    text-align: center;
    height: 25px;
    width: 120px;

    padding-right: 20px;
}



nav .container .profile{
    display:flex;
    align-items: center;

    padding-left: 30px;
}

.profile .far{
    margin-right: 5px;
}

/* inizio main */

main .container{

    padding-top: 40px;
}


main .container .images{
    display: inline-block;
    width: 300px;

    position: relative;

}

img{
    max-width: 100%;
}

.images .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}

.images:hover .overlay{
    opacity: 1;
}

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0;

    background-color: white;
}

.heart:hover{
    color: red;
}





