*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regola di reset */

body{
    font-family: sans-serif;
}

/* inizo header e navbar */


nav{
    width: 100%;;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    margin-bottom: 40px;

    background-color: #FF6900;
}

.container{
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



nav .container{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    color: white;
}

nav .container .links{
    text-align: left;
}

.links ul{
    list-style-type: none;
}

.links ul li{
    display: inline-block;
}

nav .container .logo{
    flex-grow: 2;
    text-align: center;
    height: 25px;
    width: 120px;

    padding-right: 20px;
}



nav .container .profile{
    display:flex;
    align-items: center;

    padding-left: 30px;
}

.profile .far{
    margin-right: 5px;
}

/* inizio main */

main{
    margin-top: 40px;
    margin-bottom: 40px;
}

main .container{
    justify-content: space-between;
    flex-wrap: wrap;

    /* margin-top: 40px; */
}


main .container .images{
    
    width: 310px;
    margin-bottom: 30px;

    position: relative;

}

img{
    max-width: 100%;
}

.images .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s;
}

.images:hover .overlay{
    opacity: 1;
}

/* sconti */

.images .details{
    position: absolute;
    left: 0;
    bottom: 80px;
    color: white;
}

.discount{
    background-color: red;
    padding: 5px 10px;
}

.green{
    background-color: green;
    padding: 5px 10px;

}

/* cuore */

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0;

    background-color: white;
}

.heart:hover{
    color: red;
}


/* prize */

.prize-red{
    color: red;
}

.prize-black{
    text-decoration: line-through;
}

/* fine del main */

/* footer */

footer{
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .container{
    justify-content: space-between;
    margin-bottom: 10px;
}

footer .container .info span{
    margin-right: 5px;
}

.social i{
    margin-left: 5px;
}











